* {
	padding: 0px;
	margin: 0px;
}

body {
	font-size: 12px;
}

.dhx_tabbar_zoneV{
   position:relative;
}
.dhx_tabbar_zoneVB{
    position:relative;
}

.dhx_tabbar_zone .dhx_tablist_zone{
  padding:5px 0px 0px 0px;
}
.dhx_tabbar_zoneB .dhx_tablist_zone{
  padding:5px 0px 0px 0px;
}
.dhx_tabbar_zoneV .dhx_tablist_zone{
  padding:0px 0px 0px 0px;
}
.dhx_tabbar_zoneVB .dhx_tablist_zone{
  padding:0px 0px 0px 0px;
  position:absolute;
}

.dhx_tabcontent_sub_zone{
	width:100%;
	height:100%;
	overflow:auto;
	padding: 0px 0px 0px 0px !important
}
.dhx_tabcontent_zone{
  overflow:hidden;
  position:relative;
  background-color:#F0F8FF;
  overflow:auto;
}
.dhx_tabbar_zone .dhx_tabcontent_zone{
  border-bottom:1px solid #91A7B4;
  border-left:1px solid #91A7B4;
  border-right:1px solid #91A7B4;
  border-top:0px solid #91A7B4;  
}
.dhx_tabbar_zoneB .dhx_tabcontent_zone{
  border-top:1px solid #91A7B4;
  border-left:1px solid #91A7B4;
  border-right:1px solid #91A7B4;
  border-bottom:0px solid #91A7B4;
}
.dhx_tabbar_zoneV .dhx_tabcontent_zone{
  border-bottom:1px solid #91A7B4;
  border-top:1px solid #91A7B4;
  border-right:1px solid #91A7B4;
  border-left:0px solid #91A7B4;
  position:absolute; top:0px;
}
.dhx_tabbar_zoneVB .dhx_tabcontent_zone{
  border-bottom:1px solid #91A7B4;
  border-top:1px solid #91A7B4;
  border-left:1px solid #91A7B4;
  border-right:0px solid #91A7B4;
  position:absolute; top:0px;
  left:0px;
}

.dhx_tab_element div{
    font-family:Tahoma;
    font-size:12px;
}
.dhx_tabbar_zoneB .dhx_tab_element div{
    background-position:bottom;
}
.dhx_tabbar_zoneVB .dhx_tab_element div{
    background-position:right;
}




.dhx_tab_element{
    font-family:Tahoma;
    font-size:8pt;
    text-align:center;
    cursor:pointer;
    position:absolute;

    overflow:hidden;
}
.dhx_tabbar_zone .dhx_tab_element{
    padding:3px 0px 3px 0px;
}
.dhx_tabbar_zoneB .dhx_tab_element{
    padding:0px 0px 0px 0px;

}
.dhx_tabbar_zoneV .dhx_tab_element{
    padding:0px 3px 0px 3px;
}
.dhx_tabbar_zoneVB .dhx_tab_element{
    padding:0px 0px 0px 0px;
}








.dhx_tab_element_inactive{
    font-weight:normal;
    z-Index:4;
}
.dhx_tabbar_zone .dhx_tab_element_inactive{
    margin-top:3px;
    margin-left:0px;
}
.dhx_tabbar_zoneB .dhx_tab_element_inactive{
    margin-top:0px;
    margin-left:0px;
}
 .dhx_tabbar_zoneV .dhx_tab_element_inactive{
    margin-left:3px;
    margin-top:0px;
}
.dhx_tabbar_zoneVB .dhx_tab_element_inactive{
    margin-left:0px;
    margin-top:0px;
}


.dhx_tab_element_active{
    background-color: #F0F8FF;
    font-weight:bold;
    z-Index:6;
}
.dhx_tabbar_zoneB .dhx_tab_element_active{
    margin-top:0px;
}

.dhx_tab_element_disabled{
	color:silver;
	cursor:default;
}


.dhx_tabbar_row{
    overflow:hidden;
}
.dhx_tabbar_zone .dhx_tabbar_row{
    margin-top:-5px;
    position:relative;
    }
.dhx_tabbar_zoneB .dhx_tabbar_row{
    margin-top:-5px;
    position:relative;
    }
.dhx_tabbar_zoneV .dhx_tabbar_row{
    margin-left:0px;
    margin-top: 0px;
    top:0px;
    position:absolute;
    }
.dhx_tabbar_zoneVB .dhx_tabbar_row{
    margin-left:0px;
    margin-top: 0px;
    top:0px;
    position:absolute;
    }


.dhx_tablist_scroll{
    position:absolute;
    top:5px;
    right:4px;
    height:15px;
    width:32px;
    z-Index:6;
    cursor:pointer;
}
.dhx_tabbar_zoneV .dhx_tabbar_row .dhx_tablist_scroll{
    height:32px;
    width:15px;
}
.dhx_tabbar_zoneVB .dhx_tabbar_row .dhx_tablist_scroll{
    height:32px;
    width:15px;
}


.dhx_tablist_line{
    height:1px;
    overflow:hidden;
    background-color:#91A7B4;
    width:100%;
    position:absolute;
    left:0px;
    z-Index:5;
}

.dhx_tabbar_zoneB .dhx_tabbar_row .dhx_tablist_line{
    height:1px;
    width:100%;
    left:0px;
}
.dhx_tabbar_zoneV .dhx_tabbar_row .dhx_tablist_line{
    width:1px;
    height:100%;
    top:0px;
}
.dhx_tabbar_zoneVB .dhx_tabbar_row .dhx_tablist_line{
    width:1px;
    height:100%;
    top:0px;
}

.dhx_ajax_loader{
    margin-top:20px;
    margin-left:10px;    
    font-size:10pt;
    font-family:Arial,Tahoma;
    font-weight:bold;
    vertical-align: absmiddle;
}

.page{background:#ececec url(./imgs/bg_repeat1.png) repeat-x;width:100%;height:100%;}
.yahei{ font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå", "ËÎÌå";color: white;}
button.cupid-blue {
	background-color: #ececec;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
	background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
	border-top: 1px solid #abbbcc;
	border-left: 1px solid #a7b6c7;
	border-bottom: 1px solid #a1afbf;
	border-right: 1px solid #a7b6c7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-moz-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #1a3e66;
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 6px 0 7px 0;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	width: 60px; 
}

button.cupid-blue {
	background-color: #ececec;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
	background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: url(./imgs/btn_out.png);
	border-top: 1px solid #abbbcc;
	border-left: 1px solid #a7b6c7;
	border-bottom: 1px solid #a1afbf;
	border-right: 1px solid #a7b6c7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-moz-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #1a3e66;
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 6px 0 7px 0;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	width: 60px; 
}

button.cupid-blue:hover {
	background-color: #ccd9e8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
	background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: url(./imgs/btn_over.png);
	border-top: 1px solid #a1afbf;
	border-left: 1px solid #9caaba;
	border-bottom: 1px solid #96a3b3;
	border-right: 1px solid #9caaba;
	-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
	-moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
	box-shadow: inset 0 1px 0 0 #f2f2f2;
	color: #163659;
	cursor: pointer; }

button.cupid-blue:active {
	border: 1px solid #8c98a7;
	-webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	-moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;}

button.cupid-blue-big {
	background-color: #ececec;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
	background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: url(./imgs/btn_out_big.png);
	border-top: 1px solid #abbbcc;
	border-left: 1px solid #a7b6c7;
	border-bottom: 1px solid #a1afbf;
	border-right: 1px solid #a7b6c7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-moz-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #1a3e66;
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 6px 0 7px 0;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	width: 60px; 
}

button.cupid-blue-big:hover {
	background-color: #ccd9e8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
	background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: url(./imgs/btn_over_big.png);
	border-top: 1px solid #a1afbf;
	border-left: 1px solid #9caaba;
	border-bottom: 1px solid #96a3b3;
	border-right: 1px solid #9caaba;
	-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
	-moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
	box-shadow: inset 0 1px 0 0 #f2f2f2;
	color: #163659;
	cursor: pointer; }

button.cupid-blue-big:active {
	border: 1px solid #8c98a7;
	-webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	-moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;}

#mytable {
	padding: 0; 
	margin: 0; 
	border-left:1px solid #C1DAD7
} 

#mytable th { 
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
	color: #4f6b72; 
	border-right: 1px solid #C1DAD7; 
	border-bottom: 1px solid #C1DAD7; 
	border-top: 1px solid #C1DAD7; 
	letter-spacing: 0; 
	text-transform: uppercase; 
	text-align: center; 
	font-size:12px;
	padding:0;
	background: #CAE8EA no-repeat; 
} 

#mytable th.nobg { 
	border-top: 0; 
	border-left: 0; 
	border-right: 1px solid #C1DAD7; 
	background: none; 
} 

#mytable td { 
	border-right: 1px solid #C1DAD7; 
	border-bottom: 1px solid #C1DAD7; 
	background: #fff; 
	font-size:12px; 
	padding: 0;
	color: #4f6b72; 
} 

#mytable td.alt { 
	background: #F5FAFA; 
	color: #797268; 
} 

#mytable th.spec { 
	border-left: 1px solid #C1DAD7; 
	border-top: 0; 
	background: #fff no-repeat; 
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
} 

#mytable th.specalt { 
	border-left: 1px solid #C1DAD7; 
	border-top: 0; 
	background: #f5fafa no-repeat; 
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
	color: #797268; 
} 


#mytable1 {
	padding: 0; 
	margin: 0; 
	border-left:1px solid #C1DAD7
} 

#mytable1 th { 
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
	color: #4f6b72; 
	border-right: 1px solid #C1DAD7; 
	border-bottom: 1px solid #C1DAD7; 
	border-top: 1px solid #C1DAD7; 
	letter-spacing: 0; 
	text-transform: uppercase; 
	text-align: center; 
	font-size:12px;
	padding:0;
	background: #CAE8EA no-repeat; 
} 

#mytable1 th.nobg { 
	border-top: 0; 
	border-left: 0; 
	border-right: 1px solid #C1DAD7; 
	background: none; 
} 

#mytable1 td { 
	border-right: 1px solid #C1DAD7; 
	border-bottom: 1px solid #C1DAD7; 
	background: #fff; 
	font-size:12px; 
	padding: 0;
	color: #4f6b72; 
} 

#mytable1 td.alt { 
	background: #F5FAFA; 
	color: #797268; 
} 

#mytable1 th.spec { 
	border-left: 1px solid #C1DAD7; 
	border-top: 0; 
	background: #fff no-repeat; 
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
} 

#mytable1 th.specalt { 
	border-left: 1px solid #C1DAD7; 
	border-top: 0; 
	background: #f5fafa no-repeat; 
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
	color: #797268; 
} 
#noFrameTable td { 
	border-right: 0px solid red; 
	border-bottom: 0px solid red; 
	background: #fff; 
	font-size:12px; 
	padding: 0;
	color: #4f6b72; 
}

.Ip
{
	margin:0;
	padding:0;
	width:100%;
}

.mmi_radio_div {
	float: left;
	border: 0px solid white;
	width: 10px;
	height: 100%;
}
.mmi_txt_div {
	float: right;
	border: 0px solid white;
	width: 80%;
	height: 100%;
}
.update_radio_div {
	float: left;
	border: 0px solid white;
	width: 10px;
	height:20px;
}
.update_txt_div {
	float: right;
	border: 0px solid white;
	font: normal 18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	width: 80%;
	height: 100%;
}